[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "numbers.vim"]
	path = numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vimerl"]
	path = vimerl
	url = https://github.com/jimenezrick/vimerl
[submodule "ghcmod-vim"]
	path = ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "vimproc"]
	path = vimproc
	url = https://github.com/Shougo/vimproc
[submodule "base16"]
	path = base16
	url = https://github.com/chriskempson/base16-vim.git
